In [1]:
set1={"1","banana",67,"80.45",3.14}

In [2]:
print(set1)

{3.14, 67, '1', '80.45', 'banana'}

In [3]:
set1.add('fruits')

In [4]:
print(set1)

{3.14, 67, '1', '80.45', 'banana', 'fruits'}

In [5]:
set1.pop()

3.14

In [6]:
print(set1)

{67, '1', '80.45', 'banana', 'fruits'}

In [7]:
set1.update({"hello",1234,'welcome'})

In [8]:
print(set1)

{67, '1', 'hello', '80.45', 'banana', 1234, 'welcome', 'fruits'}

In [11]:
set1.remove('fruits')

In [12]:
print(set1)

{67, '1', 'hello', '80.45', 'banana', 1234, 'welcome'}

In [15]:
seta={"alphabets","english","science","maths"}
setb={19,23,46}
setc=seta.union(setb)
print(setc)

{'english', 'science', 19, 23, 'alphabets', 'maths', 46}

In [16]:
seta.update({19,"maths"})
print(seta.intersection(setb))

{19}

In [17]:
print(seta)

{'english', 'science', 19, 'alphabets', 'maths'}

In [18]:
print(setb)

{19, 46, 23}

In [22]:
setb.update({"english","science"})
print(setb)
print(seta)

{'english', 'science', 19, 23, 46}
{'english', 'science', 19, 'alphabets', 'maths'}

In [33]:
print(seta.symmetric_difference(setb))
print(setb.symmetric_difference(seta))

{23, 'alphabets', 'maths'}
{23, 'alphabets', 'maths'}

In [25]:
print(setb.discard(46))
print(setb)

None
{'english', 'science', 19, 23}

In [30]:
print("set a values are",seta, "set b values are",setb)

set a values are {'english', 'science', 19, 'alphabets', 'maths'} set b values are {'english', 'science', 19, 23}

In [32]:
print(seta.difference(setb))
print(setb.difference(seta))

{'alphabets', 'maths'}
{23}

In [41]:
print(seta,setb)
print(seta.isdisjoint(setb))
setb.discard(23)
print(setb.issubset(seta))
print(seta.issuperset(setb))

{'english', 'science', 19, 'alphabets', 'maths'} {'english', 'science', 19}
False
True
True

In [56]:
seta.update({"hey","hello","hii"})
print(seta)
print(seta,setb)
print(seta.intersection_update(setb))
print(seta,setb)
seta.difference_update(setb)

{'hii', 'hey', 'hello'}
{'hii', 'hey', 'hello'} {'english', 'science', 19}
None
set() {'english', 'science', 19}

In [60]:
seta.clear()
setb.clear()
print(seta,setb)

set() set()

In [62]:
seta={1,2,3,4,5}
setb={1,2,3,4,5,6,7,8,9,10}
seta.difference_update(setb)
print(seta)
print(setb)

set()
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [81]:
stringa="HELLO WORLD!!"
print(stringa.casefold())
stringa.isalnum()
stringb="hello world 12345"
stringb.isalnum()

hello world!!

False

In [83]:
stringb="helloworld12345"
stringb.isalnum()

True

In [90]:
stringa.find("world")

-1

In [96]:
stringb="welcome to {}, we are happy to see you {}" .format("Grandiose Hotel","Manisha")
print(stringb)

welcome to Grandiose Hotel, we are happy to see you Manisha

In [100]:
sta="    the nature    "
tar=sta.lstrip()

print("Live and let live", tar,"says")

Live and let live the nature     says

In [107]:
str1="hello welcome\nhave a good day"
print(str1.splitlines())

['hello welcome', 'have a good day']

In [112]:
stra="welcome to the show"
print(stra.endswith("the"))
print(stra.startswith("welcome"))

False
True

In [118]:
var1="welcome you all \n to the #1 best resort "
print(var1.isprintable())
print(var1.istitle())
var2="Welcome You All To The #1 Best Resort"
print(var2.istitle())
print(var2.swapcase())

False
False
True
wELCOME yOU aLL tO tHE #1 bEST rESORT

In [138]:
info={"name":"hema","id":"12345","salary":"99k","designation":"System Software Developer"}
k=info.keys()
print(k)
m=info.values()
print(m)

dict_keys(['name', 'id', 'salary', 'designation'])
dict_values(['hema', '12345', '99k', 'System Software Developer'])

In [139]:
print(info.pop("name"))
print(info.popitem())

hema
('designation', 'System Software Developer')

In [144]:
dica={"OS":"android","price":"50k","performance":"high","processor":"2.5GHZ"}
print(len(dica))

4

In [146]:
dica["connectivity"]="high"
print(dica)

{'OS': 'android', 'price': '50k', 'performance': 'high', 'processor': '2.5GHZ', 'connectivity': 'high'}

In [148]:
dicm=dict(dica)
print(dicm)

{'OS': 'android', 'price': '50k', 'performance': 'high', 'processor': '2.5GHZ', 'connectivity': 'high'}

In [149]:
dicm.get("OS")

'android'

In [158]:
dicm.update({"Wireless charging":"yes"})
print(dicm)

{'OS': 'android', 'price': '50k', 'performance': 'high', 'processor': '2.5GHZ', 'connectivity': 'high', 'Wireless charging': 'yes'}

In [162]:
dicm.setdefault("camera","15MP")
print(dicm)
print(dicm.get("camera"))

{'OS': 'android', 'price': '50k', 'performance': 'high', 'processor': '2.5GHZ', 'connectivity': 'high', 'Wireless charging': 'yes', 'camera': '15MP'}
15MP

In [163]:
dicm.clear()
print(dicm)

{}